@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  height: 100%;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, blue, red);
  background: -moz-linear-gradient(to left top, blue, red);
  background: -ms-linear-gradient(to left top, blue, red);
  background: -o-linear-gradient(to left top, blue, red);
  background: linear-gradient(to left top, blue, red);
}

.calc {
  /* z-index: -100; */
}

.card {
  margin: 24px;
  padding: 12px;
  display: inline-block;
  border-radius: 18px;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.card h4 {
  text-align: center;
  font-family: "Open Sans";
}
#navbar{
  text-align: center;
  background-color: bisque;
  
}
#homescreen{
  
}