@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  height: 100%;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, blue, red);
  background: -moz-linear-gradient(to left top, blue, red);
  background: -ms-linear-gradient(to left top, blue, red);
  background: -o-linear-gradient(to left top, blue, red);
  background: linear-gradient(to left top, blue, red);
}

.calc {
  /* z-index: -100; */
}

.card {
  margin: 24px;
  padding: 12px;
  display: inline-block;
  border-radius: 18px;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.card h4 {
  text-align: center;
  font-family: "Open Sans";
}
#navbar{
  text-align: center;
  padding: 1.6em;
  background-color: rgb(253, 253, 253);
  -webkit-border-radius: 25px;
  border-radius: 25px;
  
}
#homescreen{
  
}

#lock .iconLock, #setting .iconSetting{
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

#lock .iconLock:hover, #setting .iconSetting:hover{
  color: rgb(10, 10, 131);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}